@charset "UTF-8";

html {
  font-size:100%;
}

body {
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  line-height: 1.7;
  color:#432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
/* Header部分 */

.logo {
  width: 210px;
  margin-top: 14px;
}
header {
  background-color: #efefef;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  /*background-color: pink;*/
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}

.info {
  margin-left: 32px;
}

.icon img {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: lightgreen;
}

.info h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

main {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

main h2 {
  font-weight: normal;
}
