@charset "UTF-8";

html {
  font-size:100%;
}

body {
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  line-height: 1.7;
  color:#222;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

img {
  max-width: 100%;
}

ul {
  list-style:none;
}
/* Header部分 */

header {
  background-color: rgba(128,128,0,0.7);
  height: 52px;
  line-height: 50px;
}

nav {
  display: flex;
}

.logo {
  width: 210px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;

}

.main-nav li{
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid 1px silver;
}

.main-nav a{
  color: #f0f8ff;
  display: block;
}

.main-nav a:hover{
  color: orange;
  border-bottom: solid 2px orange;
  opacity: 1.0;
}

.twitter {
  font-size: 2rem;
  color: aqua;
  margin-left: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.home-wrapper {
  text-align: center;
  margin-top: 20%;
  color: white;
}

.home-wrapper p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.home-title {
  font-size: 5rem;
  font-family: 'Philosopher',serif;
  text-transform: uppercase;
  font-weight: normal;
}

.btn {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.btn:hover {
  background: #0090aa;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../images/IMG_0186.jpg);
  min-height: 100vh;
  object-fit: cover;
  object-position: bottom;
}

.contents {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 50px; */
  color: black;
}

.me-img {
  max-width: 50%;
}

.me-txt {
  width: 50%;
  color: #222;
  padding: 10px 20px;
}

.about-img {
  width: 50%;
  object-fit: cover;
  object-position: bottom;

}

.about-txt {
  width: 50%;
  padding: 10px 20px;
}

.works-wrapper {
  margin-top: 50px;
  text-align: center;
}

.works-contents {
  display:flex;
  justify-content: space-around;
}

.work {
  width: 30%;
  height: auto;
  padding: 0.5%;
  border: solid 1px gray;
  margin: 10px 5px;
}

.work p {
  font-size: 12px;
}

footer {
  background-color: #432;
  text-align: center;
  padding: 26px 0px;
  margin-top: 50px;
}

footer p {
  color: #fff;
}

@media screen and (min-width:480px) {
  .hum-menu {
    display: none
  }
}

@media screen and (max-width:480px) {
  body {
    line-height: 1.2;
  }

  nav {
    display: none;
  }

  .hum-menu {
    font-size: 1.2rem;
  }

  .home-title {
    font-size: 2.5rem;
    font-family: 'Philosopher',serif;
    font-weight: normal;
  }

  .home-wrapper span {
    display: block;
  }

  .home-wrapper p {
    margin: 0px 0px;
  }

  .home-title-wrapper {
    background-color: #00bbdd;
    opacity: 0.8;
    padding: 10px 0px;
    border-radius: 25%;
    margin-bottom: 50px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    width: 100%;
  }

  #home {
    background-image: url(../images/res-img.png);
    background-position:left center;
  }
}
